<!DOCTYPE html>
<html class="t-{{ site.themeColor }}">
  {% include head.html %}
  <body>
    {% include navigation.html %}

    <div class="post-content markdown-body" itemprop="articleBody">
      {{ content | replace: '<li>[ ]',
      '<li class="box task-list-item">
      <input type="checkbox" class="task-list-item-checkbox" disabled>' |
      replace: '<li>[x]',
      '<li class="box_done task-list-item">
      <input type="checkbox" class="task-list-item-checkbox" value="on" disabled checked>'  }}
    </div>

  </body>
</html>
